@use "../mixins" as *;
@use "../_variables" as *;

.background-image {
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar,
.sideBar,
.mainContent {
  backdrop-filter: blur(3px);
}

.navbar .header .brand {
  font-family: $font-primary;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.brandName {
  font-family: $font-primary;
  font-size: 1.5rem;
  color: $black;
}

#navigation-bar {
  /* General styles for nav items */
  .nav-item .nav-link {
    transition: transform 0.1s ease, color 0.1s ease;
  }

  /* Zoom in effect on hover */
  .nav-item .nav-link:hover {
    transform: scale(1.1);
    color: $primary-color; /* Optional: Change color on hover */
  }

  /* Keep the active item zoomed in */
  .nav-item .nav-link.active {
    transform: scale(1.2);
    // font-weight: bold; /* Optional: Make it bold */
    color: $primary-color !important; /* Optional: Distinct color for active */
    // text-decoration: underline;
  }
}
